.veille-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
  position: relative;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.close-button-techno {
  color: #ffffff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 20px;
  background-color: #aa2727;
  margin-top: 5%;
position: relative;
  bottom: 2%;
  right: 10%;
}

.pdf-container {
  width: 40%;
  height: 90%;
  background-color: #191919;
  overflow: auto;
  border-radius: 25px;
position: relative;
top: 5%;
right: 10%;
}

.veille-title {
  color: #fff;
  text-align: center;
  margin: 10px;
}

.text {
  text-align: justify;
  margin: 10px;
  color: #fff;
}

@media (max-width: 520px) {
  .veille-container {
    width: 100vw;
    position: relative;
    right: 55%;
    bottom: 0;
  }
  .pdf-container {
    width: 90%;
    height: 80%;
  }
  .veille-title {
    text-align: center;
    position: relative;
    left: 1%;
  }
}
