.veille-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
  position: relative;
  background-color: #0c121f;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.close-button-techno {
  color: #ffffff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 20px;
  background-color: #aa2727;
  margin-top: 5%;
  position: relative;
  bottom: 2%;
  right: 10%;
}

.pdf-container {
  width: 40%;
  height: 90%;
  background-color: #262626;
  overflow: auto;
  position: relative;
  border: 0.01px solid #fff;
  top: 5%;
  right: 10%;
}

.pdf-container::-webkit-scrollbar {
  width: 12px;
}

.pdf-container::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 6px;
}

/* Pour les navigateurs Gecko (Firefox) */
.pdf-container::-moz-scrollbar {
  width: 12px;
}

.pdf-container::-moz-scrollbar-thumb {
  background-color: #fff;
  border-radius: 6px;
}

.veille-title {
  color: #fff;
  text-align: center;
  margin: 30px;
}

.text {
  text-align: justify;
  margin: 30px;
  color: #fff;
}

@media (max-width: 520px) {
  .veille-container {
    width: 100vw;
    position: relative;
    right: 55%;
    bottom: 0;
  }
  .pdf-container {
    width: 90%;
    height: 80%;
    left: 0;
  }
  .veille-title {
    text-align: center;
    position: relative;
    left: 1%;
  }
  .close-button-techno {
    top: 5%;
    left: 0%;
  }
}
