.container-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcomeText {
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
}

.descriptionText {
  color: #fff;
  width: 40%;
  text-align: center;
  font-size: 25px;
}

.window-container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.iconName {
  color: #fff;
  height: 2rem;
  width: 12rem;
}

.allScreen {
  display: flex;
  flex-direction: row;
  height: 95vh;
}

.screen {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.bigPartScreen {
  width: 90%;
  height: 100%;
}

.welcome-message {
  width: 100%;
  height: 95%;
}

.window-footer {
  width: 100%;
  height: 5%;
  background-color: rgba(42, 39, 39, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: border 0.1s ease;
}

.shell-button-window {
  width: 80%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chrome-button-window {
  width: 80%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chrome-img-window {
  width: 7rem;
  height: 5rem;
}

.chrome-img-footer {
  width: 100%;
  height: 75%;
}

.files-button-window {
  width: 80%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.files-img-window {
  width: 6rem;
  height: 5rem;
}

.caroussel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 999;
}

.imageCarousselContainer {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 80%;
}

.imageCaroussel {
  width: 90%;
  height: 90%;
  min-height: 85%;
  max-height: 85%;
}

.buttonCloseImageCaroussel {
  color: #fff;
  background-color: #aa2727;
  border-radius: 10px;
}

.buttonImageCaroussel {
  color: #fff;
  background-color: #285e95;
  border-radius: 10px;
  margin-left: 10%;
}

.buttonSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .screen {
    margin-left: 60px;
  }
}

@media (max-width: 1020px) {
  .imageCaroussel {
    width: 100%;
  }
  .buttonImageCaroussel {
    bottom: 0%;
  }
}

@media (max-width: 700px) {
  .imageCaroussel {
    width: 120%;
  }
  .screen {
    margin-left: 80px;
  }
}

@media (max-width: 520px) {
  .imageCarousselContainer {
    position: absolute;
    width: 80vw;
    position: absolute;
    right: 10%;
  }
  .screen {
    width: 40%;
    height: 100%;
    position: relative;
    right: 20%;
  }
  .shell-button-window {
    height: 8rem;
    width: 8rem;
  }
  .files-img-window {
    height: 5rem;
    width: 5rem;
  }
  .screen {
    position: relative;
  }
  .iconName {
    font-size: 16px;
  }
  .descriptionText {
    width: 90%;
  }
}
